.footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  font-size: medium;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

#footer-links {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}