<div class="main-container">
  <div class="fullNav">
    <div class="navBar"><app-nav-bar></app-nav-bar></div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <mat-toolbar class="footer">
    <div class="footer-content">
      <div class="footer-column">
        <span id="footer-links">Contact us</span>
        <span class="contact-details">palguni@gmail.com<br>prashasthi@gmail.com</span>
      </div>
      <div class="footer-column">
        <span id="footer-links">© 2023 Glamzie. All rights reserved.</span>
      </div>
    </div>
  </mat-toolbar>
</div>
