<div class="main-container">
  <div class="fullNav">
    <div class="navBar"><app-nav-bar  (modeToggled)="toggleMode()"></app-nav-bar></div>
  </div>
  <div [ngClass]="isDarkMode ? 'dark-mode' : 'light-mode'" class="content">
    <router-outlet></router-outlet>
  </div>
  <mat-toolbar class="footer">
    <div class="footer-content">
      <span id="footer-links">Contact us</span>
      <span id="footer-links">About us</span>
      <span id="footer-links">© 2023 Glamzie. All rights reserved.</span>
    </div>
  </mat-toolbar>
</div>