.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  z-index: 800;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: calc(100vh - 20px);
  background-color: white;
}

.container::-webkit-scrollbar {
  display: none;
  width: none;
  scrollbar-width: none;
}

.productCard {
  width: 14rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
  margin-bottom: 4px;
  overflow: auto;
}

.productCard:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.productCard img {
  height: 13rem;
  width: 14rem;
  background-size: cover;
}

.mat-card-tile {
  margin-bottom: 3rem;
  height: 25rem;

}

.mat-card-content p {
  margin: 0;
  height: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mat-grid-list {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.mat-grid-tile {
  width: 13rem;
}

.brand {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mat-grid-tile-content {
  margin-bottom: 2px;
}

.sidebar {
  margin-top: 8rem;
  width: 21rem;
  height: 29rem;
  position: fixed;
  top: 1rem;
  right: 0;
  overflow: auto;
  background-color: #FFE5E5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  transition: transform 0.3s ease-out;
  transition-property: transform, width, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.sidebar::-webkit-scrollbar {
  display: none;
  width: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.sidebar.hide {
  transform: translateX(100%);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.sidenav-image {
  width: 19rem;
  height: 20rem;
}

.btn-right {
  float: right;
  cursor: pointer;
  z-index: 1;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 10px;
}

h2 {
  color: black;
  margin-top: 5px;
}

.filled {
  color: rgb(255, 183, 0);
}

.empty {
  color: lightgray;
}

.size-toggle-group {
  border-radius: 4px;
}

mat-button-toggle {
  cursor: pointer;
}

.mat-button-toggle.mat-button-toggle-checked {
  background-color: pink;
  color: color;
}

mat-form-field {
  width: 100%;
  border-bottom: none;
  margin-top: 5rem;
}

mat-select {
  width: 20%;
  font-size: 16px;
  padding: 1px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;

}

.mat-option {
  border: none;
}

.mat-option {
  font-size: 16px;
}

.mat-option:hover {
  background-color: #f0f0f0;
}

#btn-1,
#btn-2 {
  width: 40%;
  background-color: pink;
  color: black;
  margin-top: 4%;
  border-radius: 4px;
  margin-left: 2%;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.buttons {
  text-align: center;
  width: 100%;
}

mat-grid-list {
  margin-top: 2%;
  display: flex;
}

.brand {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.filterSide {
  overflow: auto;
  margin-bottom: 0;
  height: 100%;
  margin-top: 6rem;
  width: 15rem;
  padding: 0rem;
}

.filterSide::-webkit-scrollbar {
  display: none;
  width: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.listContainer {
  z-index: 800;
  position: -webkit-sticky;
  position: sticky;
}

.sortOption {
  width: 150px;
  margin-left: 2%;
}

.listHeader {
  display: flex;
  margin-top: 2rem;
  overflow: hidden;

}

h3 {
  margin-top: 7rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.pincode {
  margin-left: 40rem;
  width: 100px
}

.price-delivery {
  display: inline;
}

.red {
  color: red;
  float: right;
}

.pink {
  color: darkcyan;
  float: right;
}

#selected-product-price {
  margin-top: 1rem;
}

#selected-qty {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

#selected-qty button {
  background-color: pink;
  color: black;
  border: none;
  padding: 2px 12px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 8px;
  line-height: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

#qty-label {
  font-size: small;
  margin-top: 1rem;
}

@media screen and (max-width: 576px) {
  .mat-expansion-panel {
    width: 100%;
    display: contents;
    overflow: hidden;
  }

  .filterSide {
    width: 100vw;
    z-index: 705;
    display: flex;
    padding: sticky;
  }

  .listContainer {
    margin-top: 6rem;
    z-index: 700;
    position: absolute;
    overflow: auto;
  }

  .pincode {
    margin-left: 0;
  }

  .mat-expansion-panel::after {
    z-index: 1200;
  }

  .container {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }

  .productCard {
    height: 17rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 1rem;
    overflow: hidden;
    width: 10rem;
  }

  .mat-grid-list {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    left: 0;
  }

  .mat-grid-tile {
    width: 10rem;
  }

  .sidebar {
    margin-top: 7rem;
    width: 14rem;
    height: 25rem;
    padding: 20px;
    z-index: 1100;
  }

  .productCard img {
    height: 11rem;
    width: 10rem;
    background-size: cover;
  }

  .mat-grid-tile-content {
    width: 10rem !important;
  }

  h3 {
    margin-top: 2rem;
  }

  .sidenav-image {
    width: 12rem;
    height: 14rem;
  }

}

@media (min-width:577px) and (max-width: 1255px) {

  .sidebar {
    margin-top: 8rem;
    width: 14rem;
    height: 24rem;
  }

  .productCard {
    height: 17.5rem;
  }

  .pincode {
    margin-left: 5rem;
  }

  .filterSide {
    margin-top: 7rem;
  }

  .sidenav-image {
    width: 14rem;
    height: 17rem;
  }
}