
@media only screen and (min-width: 599.98px){

  .mainMatCard::-webkit-scrollbar{
    display: none;
    width: none;
    scrollbar-width: none;
  }
.brands-container {
    display: flex;
    overflow-y: auto;    
  }
  .brands-container::-webkit-scrollbar{
    display: none;
    width: none;
    scrollbar-width: none;
  }
  
  .brand-card {
    flex: 0 0 auto;
    margin-top: 0;
    width: 200px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #FFE5E5;
  }
  img {
    width: 100%;
    height: auto;
  }
  h1{
    text-align: center;
    margin-top: 3%;
    color: black;
    font-size:xx-large;
    font-family: Trattatello, fantasy;
  }
mat-card{
  justify-content: center;
}

.gender{
  display: flex;
  align-items: center;
}
.gender h1{
  padding-bottom: 5%;
  padding-top: 10%;
}

.category{
  display: flex;
  align-items: center;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

h1{
  padding-bottom: 2%;
}


}


