/* .round-card {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    display: inline-block;
    overflow: hidden; 
    text-align: center;
    margin-top: 15%;
    margin-left: 2%;
  }
  
  .round-card img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover;

  }  
  div{
    width: 100%;
    text-align: center;
  } */
  .brands-container {
    display: flex;
    overflow-x: auto;
  }
  
  .brand-card {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 10px;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  