.main-mat-card{
  display : flex;
  width : 100%;
  flex-direction: column; 
  align-items: center; 
  margin-top: 5rem;
 }
 .gender,.brand,.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; 
  margin-bottom: 16px; 
  padding-top: 5rem;
}
.brands-container, .gender-container, .category-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}
.brand-card {
  flex: 1;
  max-width: max-content;
  background-color: #FFE5E5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  text-align: center;
}
.brand-card:hover {
  transform: scale(1.05);
}

.brand-card img {
  margin-bottom: 8px;
}

.brand-card p {
  margin: 0;
  font-weight: bold;
}
h1{
  margin-bottom: 2rem;
  font-size:x-large;
  font-family: Trattatello, fantasy;
}
@media (min-width : 1025px){
  .gender-container .brand-card img, .category-container .brand-card img{
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
    width: 180px; 
    height: 210px; 
  }
  .brands-container .brand-card img{
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
    width: 200px; 
    height: 170px; 
  }
}
@media (min-width : 769px) and (max-width : 1024px) {
  .gender-container .brand-card img, .category-container .brand-card img{
    max-width: 100%;
    margin-bottom: 8px;
    width: 200px; 
    height: 220px; 
  }
  .brands-container .brand-card img{
    max-width: 100%;
    margin-bottom: 8px;
    width: 100px; 
    height: 120px; 
  }
}
@media (min-width : 481px) and (max-width : 768px) {
  .gender-container .brand-card img, .category-container .brand-card img{
    max-width: 100%;
    margin-bottom: 8px;
    width: 200px; 
    height: 220px; 
  }
  .brands-container .brand-card img{
    max-width: 100%;
    margin-bottom: 8px;
    width: auto; 
    height: 100px; 
  }
  .brands-container{
    justify-content: center;
  }
  h1{
    margin-bottom: 2rem;
    font-size: large;
    font-family: Trattatello, fantasy;
  }
}
@media (max-width : 480px) {
  .gender-container .brand-card img, .category-container .brand-card img{
    max-width: 100%;
    margin-bottom: 8px;
    width: 110px; 
    height: 110px; 
  }
  .brands-container .brand-card img{
    max-width: 100%;
    margin-bottom: 8px;
    width : auto; 
    height: 100px; 
  }
  .brands-container{
    justify-content: center;
  }
  h1{
    margin-bottom: 2rem;
    font-size: medium;
    font-family: Trattatello, fantasy;
  }
}