
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ isRegisterMode ? 'Register' : 'Login' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width" *ngIf="isRegisterMode">
        <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="isRegisterMode = !isRegisterMode">
      {{ isRegisterMode ? 'Login' : 'Register' }}
    </button>
    <button mat-raised-button (click)="isRegisterMode ? register() : login()">
      {{ isRegisterMode ? 'Register' : 'Login' }}
    </button>
  </mat-card-actions>
</mat-card>
