.mat-expansion-panel {
  width: 10rem;
  border: none;
  box-shadow: none;
  margin-bottom: 5px;
  background-color: #FFE5E5;
  margin-right: 2px;
  padding-right: 5px;
  left: 0;
  padding-left: 0px;
  padding: 0;
}

.mat-card-content {
  padding: 1px;
}

.color-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 2px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 5px;
  padding-left: 0px;
}

.brandFilter,
.genderFilter {
  margin-top: 2px;
}

.mat-checkbox {
  margin-right: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: start;

}


.brandFilter {
  margin-right: 0.1rem;
}

.genderFilter {
  margin-right: 0.1rem;
}

.mat-form-field {
  width: 10px;
  display: block;

}

.priceFilter {
  margin-bottom: 2px;
}

.main {
  width: 13rem;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin-bottom: 2px;
  background-color: #FFE5E5;
  padding-left: 0px;
}

.mat-expansion-panel-header {
  font-weight: 500;
  padding: 0rem 0.5rem;
  height: 2.5rem;
}

.mat-panel-title {
  font-size: 16px;
  color: #333;
}

.row {
  overflow: auto;
}

.filled {
  color: rgb(255, 183, 0);
}

.empty {
  color: lightgray;
}

@media (max-width: 576px) {
  .main {
    margin-top: 0rem;
  }

  .mat-expansion-panel {
    width: 100%;
    display: block;
    overflow: hidden;

  }

  .mat-checkbox {
    margin-right: 0px;
    display: inline-block;
    flex-direction: row;
    align-content: stretch;

  }

  @media (min-width:577px) {
    .mat-checkbox {
      display: flex;
      flex-direction: column;
      align-items: start;

    }

  }

}