<div class="container">
  <app-filter-items (checkboxlistUpdated)="addFilter($event)" class="filterSide"></app-filter-items>
  <div class="listContainer">
    <div class="listHeader">
      <h3>Showing search results for "{{searchresult}} "</h3>
      <mat-form-field class="pincode">
        <mat-label>Pincode</mat-label>
        <input matInput type="number" (change)="takePincode($event)">
      </mat-form-field>
      <mat-form-field class="sortOption">
        <mat-label>Sort By</mat-label>
        <select matNativeControl (change)="onSortOptionChange($event)">
          <option value="Ascend">Price: Low to High</option>
          <option value="Descend">Price: High to Low</option>
          <option value="Rating">Rating</option>
        </select>
      </mat-form-field>
    </div>
    <mat-grid-list [cols]="breakpoint" [rowHeight]="rowHeight" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let item of filteredClothDataList" (click)="showItem(item.id,sidenav)">
        <mat-card class="productCard">
          <img mat-card-image [src]="item.image" alt="{{ item.tag }}">
          <mat-card-content>
            <p style="font-weight: bold;">{{item.brand}}</p>
            <p>{{ item.tag }}</p>
            <p class="price-delivery" style="font-weight: bold;">₹{{ item.price }}</p>
            <p class="price-delivery red" *ngIf="pincode ? checkIfAvailable(item) : false">Not deliverable</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <img *ngIf="filteredClothDataList.length === 0" [src]="'https://bagbazaars.com/assets/img/no-product-found.png'"
        alt="No Results!">
    </mat-grid-list>
    <mat-sidenav class="sidebar" #sidenav mode="push">
      <button class="btn-right" mat-icon- button (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button><br>
      <img [src]="selectedProduct?.image" alt="Product Image" class="sidenav-image">
      <h2>{{ selectedProduct?.tag }}</h2>
      <mat-icon *ngFor="let _ of starsArray; let i = index"
        [ngClass]="{ 'filled': i < (selectedProduct?.rating || 0), 'empty': i >= (selectedProduct?.rating || 0) }">star</mat-icon>
      <h3 id="selected-product-price"><strong>{{"₹" + selectedProduct?.price}}</strong></h3><br>
      <p>Available sizes</p>
      <mat-button-toggle-group class="size-toggle-group" [value]="selectedSize" (change)="selectSize($event.value)">
        <mat-button-toggle *ngFor="let size of sizeOptions" [value]="size">
          {{ size }}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-error *ngIf="notSelected">Size is required</mat-error>
      <mat-form-field id="selected-product-qty">
        <mat-label>Qty</mat-label>
        <mat-select [value]="selectedQuantity" (selectionChange)="selectQuantity($event)">
          <mat-option *ngFor="let quantity of quantityOptions" [value]="quantity">{{ quantity }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button id="btn-1" (click)="signIn()" *ngIf="showAddToCart">Add to Cart</button><br>
        <button mat-raised-button id="btn-2" *ngIf="showAddToCart">Buy Now</button>
        <p *ngIf="!showAddToCart" style="color : red;">Sorry..! Product is not deliverable to this Pincode</p>
      </div>
    </mat-sidenav>
  </div>
</div>