<div class="container">
  <app-filter-items (checkboxlistUpdated)="addFilter($event)"></app-filter-items>
<mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let item of filteredClothDataList">
      <mat-card class="product-card">
        <img mat-card-image [src]="item.image" alt="{{ item.tag }}">
        <mat-card-content>
          <p style="font-weight: bold;">{{ item.tag }}</p>
          <p>Price: {{ item.price }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>  