@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
  width: none;
  scrollbar-width: none;
}

div.mat-expansion-panel-body {
  padding: 0.7rem !important;
}

  div.mat-grid-tile-content {
    height: 22rem !important;
    padding-top: 2px !important;
    
  }

