mat-expansion-panel {
  background-color: #FFE5E5;
  margin: 0px;
  box-shadow: none;
  border: 5px black;
}

.mat-expansion-panel {
  width: 100%;
  background-color: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin-bottom: 5px;
  background-color: #FFE5E5;
}

.mat-expansion-panel-header {
  border-radius: 0;
  font-weight: 500;
}

.mat-panel-title {
  font-size: 16px;
  color: #333;
}

.mat-card-content {
  padding: 2px;
}

.color-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 5px;

}

.brandFilter,
.genderFilter {
  margin-top: 2px;
}

.mat-checkbox {
  margin-right: 10px;
}

.mat-slider {
  width: 100%;
}

.brandFilter {
  margin-right: 25%;
  display: inline-block;
}

.genderFilter {
  margin-right: 25%;
  display: inline-block;
}

mat-list-item {
  margin-left: 80%;
}

.row {
  overflow: auto;
}

.filled {
  color: rgb(255, 183, 0);
}

.empty {
  color: lightgray;
}
.mat-form-field{
  width: 100px;
  display: block;
 
}
.priceFilter{
  margin-bottom: 5px;
}