.container {
  background-color: #FFE5E5;
  margin-top: 2rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.display {
  visibility: hidden;
}

.mat-card {
  width: 40rem;
  height: 30rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: auto;
}

mat-card-title {
  padding: 16px;
  padding-bottom: 2px;
  background-color: transparent;
}

.mat-raised-button {
  min-width: 8px;
  line-height: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.mat-input-element {
  width: 10px;
}

.demo-table {
  width: 40rem;
  height: max-content;
  box-shadow: none;
  overflow: auto;
  text-overflow: clip;
}

.colProduct,
.colPrice,
.colQuantity,
.colTotal,
.colButton {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  border-bottom: 1px solid #f2f2f2;
}

.colProduct {
  flex: 2;
  max-width: 200px;
}

.colPrice,
.colQuantity,
.colTotal,
.colButton {
  flex: 1;
  max-width: 50px;
}

.demo-table th {
  font-weight: bold;
  font-size: medium;
  background-color: #ffffff;
  overflow: hidden;
}

.demo-table td {
  padding: 0;
}

.demo-table img {
  margin-right: 10px;
}

button {
  margin-top: 8px;
  background-color: pink;
  color: black;
  border: none;
  padding: 2px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: grey;
  color: white;
}

.mat-card-actions {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 30rem;
}

.mat-card-actions button {
  background-color: pink;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.mat-card-actions button:hover {
  background-color: grey;
  color: white;
}

.total-row {
  margin-top: 2rem;
  margin-left: 30rem;
}

.product {
  display: flex;
  width: 20rem;
}

img {
  padding: 7px;
}

.delete {
  display: block;
}

.deleteSmall {
  display: none;
}

@media screen and (max-width: 576px) {
  .mat-card {
    width: 18rem;
    height: 30rem;
    background: white;
    overflow: auto;
  }

  .demo-table {
    width: 17rem;
    height: 3rem;
    box-shadow: none;
    overflow: hidden;
  }

  .product {
    display: block;
  }

  img {
    padding: 2px;
  }

  .demo-table th {
    font-weight: bold;
    font-size: small;
    background-color: #ffffff;
    overflow: auto;
    padding: 5px;
    align-items: left;
  }

  .demo-table td {
    font-size: smaller;
  }

  .delete {
    display: none;

  }

  .deleteSmall {
    display: inline-block;
  }

  .mat-raised-button {
    width: 4px;
    line-height: 7px;
    margin: 0px;
    align-items: center;
  }

  button {
    margin-top: 5px;
    padding: 5px 5px;
    padding-right: 11px;
  }

  input {
    padding-left: 3px;
  }

  .total-row {
    margin-top: 2rem;
    margin-left: 12rem;
  }

  .mat-card-actions {
    margin-top: 0.5rem;
    margin-left: 12rem;
  }

  .mat-card-actions button {
    width: 70px;
  }

  .product {
    width: 8rem;
  }

}