.nav-bar {
    display: flex;
    height: 13%;
    color: black;
    background-color: pink;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10;
    z-index: 1000;
}
.search {
    width: 90%;
}
.mat-card-header {

    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left : 30px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.cart-btn {
    margin-left: auto;
}

.acc-btn {
    margin-left: 1rem;
}

.heading:hover {
    cursor: pointer;
}
