<div id="container">
  <mat-toolbar class="nav-bar">
    <div class="toolbar-content">
      <button mat-icon-button (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <form (submit)="onSearchEnter($event)" class="search-form">
        <div class="search-bar">
          <mat-form-field>
            <input type="text" matInput [formControl]="searchFormControl" placeholder="search">
          </mat-form-field>
        </div>
        <button mat-icon-button class="search-icon" type="button" (click)="onSearch()"><mat-icon>search</mat-icon></button>
      </form>
      <button class="cart-btn" mat-icon-button routerLink="/cart"><mat-icon>shopping_cart</mat-icon></button>
      <button class="acc-btn" mat-icon-button routerLink="/account"><mat-icon>account_circle</mat-icon></button>
    </div>
  </mat-toolbar>
  <div>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side">
          <app-menu></app-menu>
        </mat-sidenav>
      </mat-sidenav-container>
  </div>
</div>