  <mat-toolbar class="nav-bar">
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Brands</button>
        <button mat-menu-item>Categories</button>
        <button mat-menu-item>Sign Out</button>
      </mat-menu>
      <form (submit)="onSearchEnter($event)" class="search-form">
          <mat-form-field>
            <input id="search" type="text" matInput [formControl]="searchFormControl" placeholder="Search">
          </mat-form-field>
      </form> 
      <button mat-icon-button class="search-icon" type="button" (click)="onSearch()"
      class="searchBar"><mat-icon>search</mat-icon></button>
      <mat-card-header class="heading" (click)="clickHeader()">Glamzie</mat-card-header>
      <button class="cart-btn" mat-icon-button routerLink="/cart"><mat-icon 
          matBadgeColor="warn">shopping_cart</mat-icon></button>
      <button class="acc-btn" mat-icon-button (click)="signIn()"><mat-icon>account_circle</mat-icon></button>
  </mat-toolbar>